{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block css %}{% endblock %}

{% block content %}

	<main class="pt-lg-3 pb-5 pt-0">
		<div class="bg-light w-xl-50 rounded container-fluid container-xl px-4 px-md-5 px-sm-3">
			<form method="POST" autocomplete="off" novalidate>{% csrf_token %}
				<div class="px-3 pt-md-5 pt-4 mb-3 d-md-flex row">
					{% if form.errors %}
						<div class="alert alert-danger" role="alert">Please see below error.</div>
					{% endif %}
					<div class="col-auto"><h1 id="content">Add Customer Account</h1></div>
				</div>
				<div class="row g-3">
					<div class="col-12">
						{{ form.industry_name|add_label_class:"form-label" }}
						{% if form.industry_name.errors %}
							{{ form.industry_name|add_class:"is-invalid" }}
							{% for error in form.industry_name.errors %} 
								<div class="valid-feedback invalid-feedback">{{ error|escape }}</div>
							{% endfor %}
						 {% else %}
							{{ form.industry_name|add_class:"form-control" }}
						{% endif %}
					</div>
					<div class="col-12">
						{{ form.name|add_label_class:"form-label" }}
						{% if form.name.errors %}
							{{ form.name|add_class:"is-invalid" }}
							{% for error in form.name.errors %} 
								<div class="valid-feedback invalid-feedback">{{ error|escape }}</div>
							{% endfor %}
						 {% else %}
							{{ form.name|add_class:"form-control" }}
						{% endif %}
					</div>
					<div class="col-md-4 form-group">
						{{ form.goods_tax_id|add_label_class:"form-label" }}
						{% if form.goods_tax_id.errors %}
							{{ form.goods_tax_id|add_class:"is-invalid" }}
							{% for error in form.goods_tax_id.errors %} 
								<div class="valid-feedback invalid-feedback">{{ error|escape }}</div>
							{% endfor %}
						 {% else %}
							{{ form.goods_tax_id|add_class:"form-control" }}
						{% endif %}
					</div>
					<div class="col-md-4 form-group">
						{{ form.mobile_no|add_label_class:"form-label" }}
						{% if form.mobile_no.errors %}
							{{ form.mobile_no|add_class:"is-invalid" }}
							{% for error in form.mobile_no.errors %} 
								<div class="valid-feedback invalid-feedback">{{ error|escape }}</div>
							{% endfor %}
						 {% else %}
							{{ form.mobile_no|add_class:"form-control" }}
						{% endif %}
					</div>
					<div class="col-md-4 form-group">
						<label for="{{ form.alter_mobile_no.id_for_label }}" class="form-label">{{ form.alter_mobile_no.label }} <span class="text-muted">(Optional)</span></label>
						{% if form.alter_mobile_no.errors %}
							{{ form.alter_mobile_no|add_class:"is-invalid" }}
							{% for error in form.alter_mobile_no.errors %} 
								<div class="valid-feedback invalid-feedback">{{ error|escape }}</div>
							{% endfor %}
						 {% else %}
							{{ form.alter_mobile_no|add_class:"form-control" }}
						{% endif %}
					</div>
					<div class="col-12">
					</div>
					<div class="col-12">
						
					</div>
					<div class="col-12">
						
					</div>
					 
				</div>
				<hr class="my-4">
				<button class="w-100 btn btn-primary btn-lg mb-5" type="submit">Create Account</button>
			</form>
		</div>
	</main>

{% endblock %}
{% block jscript %}{% endblock %}

