{% extends "base.html" %}
{% load static widget_tweaks template_filter %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/inline-formset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.css' %}">
{% endblock %}

{% block content %}
	<main class="pt-lg-3 pb-5 pt-0">
		<div class="bg-light rounded container-xl container-fluid px-sm-3 px-md-5">
			<form method="POST" autocomplete="off" novalidate>
				<fieldset class="pt-md-5 pt-4 mb-4 d-md-flex row">
					{% if form.errors or formset.total_error_count %}
						<div class="alert alert-danger" role="alert">
							<strong>Please correct the error below.</strong>
						</div>
					{% endif %}
					<div class="col-12">
						<div class="row row-cols-1 row-cols-sm-2 g-3 g-lg-3 align-items-end">
							<h1 id="content">Add Invoice</h1>
							<div class="col col-sm-6 col-md-6 col-lg-6 col-xl-4 ms-auto my-auto me-auto me-sm-0">
								<div class="input-group">
									{{ form.temp_search_bar }}
									<button type="button" class="btn btn-blueberry rounded-end" id="customer-search">
										<i class="bi bi-arrow-clockwise"></i>
									</button>
									{% if form.temp_search_bar.errors %}
										<div class="invalid-feedback">{{ form.temp_search_bar.errors }}</div>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-lg-2 g-3 g-lg-3 m-auto">
						<div class="col">
							<div class="input-group">
								<span class="input-group-text fw-bolder" id="invoice-addon">Invoice ID</span>
								<input id="invoiceid_id" class="form-control" type="text" placeholder="Auto set value" aria-label="Invoice ID" value="{{ form.instance.invoice_id }}" disabled>
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<span class="input-group-text fw-bolder" id="customerid-addon">Customer id</span>
								{{ form.customer_id }}
							</div>
						</div>
						{% for field in form %}
							{% if field.name != "temp_search_bar" and field.name|is_temp %}
							<div class="col">
								<div class="input-group">
									<label for="{{ field.id_for_label }}" class="input-group-text fw-bolder">
										{{ field.label }}
									</label>
									{{ field }}
									{% if field.name == "pre_balance" %}
										<span class="input-group-text fw-bolder">
											<i class="fa-solid fa-indian-rupee-sign"></i>
										</span>
									{% endif %}
								</div>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="mt-3 m-auto px-3">
						<div class="input-group">
							<span class="input-group-text fw-bolder" id="customer_address-addon">Customer address</span>
							<textarea class="form-control" id="customeraddress_id" aria-label="Customer Address" aria-describedby="customer_address-addon" disabled style="height: 89px;"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<div class="text-dark py-4 table-responsive">
						<div class="inline-formset inline-group" id="{{ formset.prefix }}-group" data-inline-type="tabular" 
						data-inline-formset="{	
										&quot;name&quot;: &quot;#{{ formset.prefix }}&quot;, 
										&quot;options&quot;: {
											&quot;prefix&quot;: &quot;{{ formset.prefix }}&quot;, 
											&quot;addText&quot;: &quot;Add+&quot;, 
											&quot;deleteText&quot;: &quot;<i class='bi bi-x'></i>&quot;, 
											&quot;firstValuePrefix&quot;: &quot;{{ formset.form.item_quantity.name }}&quot;, 
											&quot;secondValuePrefix&quot;: &quot;{{ formset.form.item_price.name }}&quot;, 
											&quot;subTotalPrefix&quot;: &quot;{{ formset.form.item_subtotal.name }}&quot;, 
											&quot;focusPrefix&quot;: &quot;{{ formset.form.item_name.name }}&quot;, 
											&quot;formCssClass&quot;: &quot;dynamic-{{ formset.prefix }}&quot;, 
											&quot;deleteInputId&quot;: &quot;#add-delete-input&quot;
										}  }">
							{% csrf_token %}
							<div class="tabular inline-related">
								{{ formset.management_form }}
								<table id="invoice-table" class="as-table table table-xl table-hover caption">
									<div class="d-block invalid-feedback">{{ formset.non_form_errors }}</div>
									<caption>Add list of items.</caption>
									{% for form in formset.forms %}
										{% if forloop.first %}
											<thead class="text-light">
												<tr class="text-center">
													<th scope="col">#</th>
													{% for field in form.visible_fields %}
														<th scope="col">{{ field.label|capfirst }}</th>
													{% endfor %}
												</tr>
											</thead>
											<tbody>
										{% endif %}
										<tr scope="row" class="form-row" id="{{ formset.prefix }}-{{ forloop.counter0 }}">
											<th class="original">
												<div class="index">{{ forloop.counter1 }}</div>
												{% for hidden in form.hidden_fields %}
													{{ hidden }}
												{% endfor %}
											</th>
											{% for field in form.visible_fields %}
												<td class="field-{{ field.name }}">
													{% if field.name != "DELETE" %}
														{% if field.errors %}
															{{ field|addCls:"is-invalid" }}
														{% else %}
															{{ field }}
														{% endif %}
														{% if field.errors %}
															<div class="invalid-feedback">{{ field.errors }}</div>
														{% endif %}
													{% else %}
														{{ field }}
													{% endif %}
												</td>
											{% endfor %}
										</tr>
									{% endfor %}
										<tr scope="row" class="form-row empty-row" id="{{ formset.prefix }}-empty">
											<th class="original">
												<div class="index">__prefix__</div>
												{% for field in formset.empty_form.hidden_fields %}
													{{ field }}
												{% endfor %}
											</th>
											{% for field in formset.empty_form.visible_fields %}
												<td class="field-{{ field.name }}">
													{% if field.name != "DELETE" %}
														{{ field }}
													{% endif %}
												</td>
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</fieldset>
				<fieldset class="pt-md-5 pt-4 mb-4 d-md-flex row">
					<div class="row row-cols-1 row-cols-lg-2 g-3 g-lg-3 m-auto">
						<div class="col">
							<div class="input-group">
								<label for="{{ form.cash_pay.id_for_label }}" class="input-group-text fw-bolder">{{ form.cash_pay.label }}</label>
								{{ form.cash_pay }}
								{% if form.cash_pay.errors %}
									<div class="invalid-feedback">{{ form.cash_pay.errors }}</div>
								{% endif %}
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<label for="{{ form.upi_pay.id_for_label }}" class="input-group-text fw-bolder">{{ form.upi_pay.label }}</label>
								<input type="number" name="upi_pay" value="0" step="0.01" class="form-control" required="" id="id_upi_pay">
								{% if form.upi_pay.errors %}
									<div class="invalid-feedback">{{ form.upi_pay.errors }}</div>
								{% endif %}
							</div>
						</div>
						<div class="col">
							<div class="input-group">
								<span class="input-group-text fw-bolder">Paid Amount</span>
								<input type="text" value="" class="form-control" required="" id="id_upi_pay">
								{% if form.upi_pay.errors %}
									<div class="invalid-feedback">{{ form.upi_pay.errors }}</div>
								{% endif %}
							</div>
						</div>
					</div>
				</fieldset>
				<div class="col-12 d-flex pb-md-5 pb-4">
					<button type="submit" class="btn btn-success ms-auto">Submit</button>
				</div>
			</form>
		</div>
	<!--Container Main end-->
	</main>


{% endblock %}

{% block jscript %}
	<script type="text/javascript" src="{% static 'javascript/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/auto-complete.js' %}"></script>
	<script type="text/javascript" src="{% static 'javascript/insert-customerid-to-form.js' %}"></script>
	<script type="text/javascript">

		// const CUSTOMER_DATA_URL = ;
		const SEARCH_BAR = document.getElementById("id_temp_search_bar");
		const CUSTOMER_LIST_URL = "{% url 'CustomerMobileList' %}";
		const CUSTOMER_LIST = getMobileNumberList(CUSTOMER_LIST_URL);
		autocomplete(SEARCH_BAR, CUSTOMER_LIST["mobile_no"]);



		const SEARCH_BTN = document.getElementById("customer-search");




		$(SEARCH_BTN).click(() => {
			const CUSTOMER_ID = document.getElementById("id_temp_search_bar").value;
			var customer_no =  $('#id_temp_search_bar').val();
			$("#id_temp_gst_no, #id_temp_mobile_no, #id_temp_customer_id, #id_temp_name, #id_temp_pre_balance, #id_temp_created, #id_temp_shop_name").each(function() {
				$(this).val('');
			});

			if (CUSTOMER_ID != "") {
				const CUSTOMER_DATA_URL = `{% url 'CustomerData' %}?mobile_no=${CUSTOMER_ID}`;
				
				var dataDict = getCustomerData(CUSTOMER_DATA_URL),
				id = dataDict["id"],
				mobile = dataDict["mobile_no"],
				name = dataDict["customer_name"],
				shop = dataDict["industryname"],
				gst = dataDict["gst_id"],
				pending = dataDict["pending"],
				cdate = dataDict["creater_date"];

				$("#id_customer_id").val(id);
				$("#id_temp_gst_no").val(gst);
				$("#id_temp_mobile_no").val(mobile);
				$("#id_temp_name").val(name);
				$("#id_temp_pre_balance").val(pending);
				$("#id_temp_created").val(cdate);
				$("#id_temp_shop_name").val(shop);
			}
		});
	</script>
	<script type="text/javascript" src="{% static 'javascript/jquery-inline.js' %}"></script>
{% endblock %}
<!-- 041125 -->
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
    {% if field.errors %}s{% endif %}