<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<div class="social-colors">
	<button class="color" style="--bgc:#1877F2; --tc:#7DB2F8;">
		<span style="">
			Facebook
		</span>
		<span style="display: none;">155.8K</span>
	</button>
	<button class="color" style="--bgc:#0099FF; --tc:#66C2FF;">
		<span style="">
			Messenger
		</span>
		<span style="display: none;">32.4K</span>
	</button>
	<button class="color" style="--bgc:#1DA1F2; --tc:#09639A;">
		<span style="">
			Twitter
		</span>
		<span style="display: none;">96.5K</span>
	</button>
	<button class="color" style="--bgc:#0A66C2; --tc:#2A8FF4;">
		<span style="">
			LinkedIn
		</span>
		<span style="display: none;">62.5K</span>
	</button>
	<button class="color" style="--bgc:#00AFF0; --tc:#006990;">
		<span style="">
			Skype
		</span>
		<span style="display: none;">16.6K</span>
	</button>
	<button class="color" style="--bgc:#0061FF; --tc:#66A0FF;">
		<span style="">
			Dropbox
		</span>
		<span style="display: none;">14.8K</span>
	</button>
	<button class="color" style="--bgc:#21759B; --tc:#34A2D4;">
		<span style="">
			Wordpress
		</span>
		<span style="display: none;">12K</span>
	</button>
	<button class="color" style="--bgc:#1AB7EA; --tc:#0D6F8F;">
		<span style="">
			Vimeo
		</span>
		<span style="display: none;">17K</span>
	</button>
	<button class="color" style="--bgc:#0077B5; --tc:#00A7FD;">
		<span style="">
			SlideShare
		</span>
		<span style="display: none;">58.4K</span>
	</button>
	<button class="color" style="--bgc:#4C75A3; --tc:#87A5C7;">
		<span style="">
			VK
		</span>
		<span style="display: none;">31.5K</span>
	</button>
	<button class="color" style="--bgc:#34465D; --tc:#496282;">
		<span style="">
			Tumblr
		</span>
		<span style="display: none;">25.4K</span>
	</button>
	<button class="color" style="--bgc:#410093; --tc:#5B00CE;">
		<span style="">
			Yahoo
		</span>
		<span style="display: none;">13.9K</span>
	</button>
	<button class="color" style="--bgc:#BD081C; --tc:#F51E36;">
		<span style="">
			Pinterest
		</span>
		<span style="display: none;">26.4K</span>
	</button>
	<button class="color" style="--bgc:#CD201F; --tc:#E76463;">
		<span style="">
			Youtube
		</span>
		<span style="display: none;">51.8K</span>
	</button>
	<button class="color" style="--bgc:#FF5700; --tc:#FF9A66;">
		<span style="">
			Reddit
		</span>
		<span style="display: none;">13.6K</span>
	</button>
	<button class="color" style="--bgc:#B92B27; --tc:#DD605D;">
		<span style="">
			Quora
		</span>
		<span style="display: none;">8.9K</span>
	</button>
	<button class="color" style="--bgc:#AF0606; --tc:#F50808;">
		<span style="">
			Yelp
		</span>
		<span style="display: none;">8.4K</span>
	</button>
	<button class="color" style="--bgc:#DF2029; --tc:#EC797F;">
		<span style="">
			Weibo
		</span>
		<span style="display: none;">11.4K</span>
	</button>
	<button class="color" style="--bgc:#DA552F; --tc:#EA9F89;">
		<span style="">
			ProductHunt
		</span>
		<span style="display: none;">5.5K</span>
	</button>
	<button class="color" style="--bgc:#FF6600; --tc:#993D00;">
		<span style="">
			HackerNews
		</span>
		<span style="display: none;">8.7K</span>
	</button>
	<button class="color" style="--bgc:#FF3300; --tc:#FF8566;">
		<span style="">
			Soundcloud
		</span>
		<span style="display: none;">9.7K</span>
	</button>
	<button class="color" style="--bgc:#F57D00; --tc:#934B00;">
		<span style="">
			Blogger
		</span>
		<span style="display: none;">8.4K</span>
	</button>
	<button class="color" style="--bgc:#FFFC00; --tc:#999700;">
		<span style="">
			SnapChat
		</span>
		<span style="display: none;">24.3K</span>
	</button>
	<button class="color" style="--bgc:#25D366; --tc:#167F3D;">
		<span style="">
			WhatsApp
		</span>
		<span style="display: none;">40.3K</span>
	</button>
	<button class="color" style="--bgc:#09B83E; --tc:#1AF45C;">
		<span style="">
			WeChat
		</span>
		<span style="display: none;">14.2K</span>
	</button>
	<button class="color" style="--bgc:#00C300; --tc:#12FF12;">
		<span style="">
			Line
		</span>
		<span style="display: none;">12.3K</span>
	</button>
	<button class="color" style="--bgc:#02B875; --tc:#08FCA2;">
		<span style="">
			Medium
		</span>
		<span style="display: none;">8.1K</span>
	</button>
	<button class="color" style="--bgc:#00B489; --tc:#00FCC0;">
		<span style="">
			Vine
		</span>
		<span style="display: none;">9.3K</span>
	</button>
	<button class="color" style="--bgc:#3AAF85; --tc:#236950;">
		<span style="">
			Slack
		</span>
		<span style="display: none;">8.1K</span>
	</button>
	<button class="color" style="--bgc:#E4405F; --tc:#F2A6B5;">
		<span style="">
			Instagram
		</span>
		<span style="display: none;">94.5K</span>
	</button>
	<button class="color" style="--bgc:#EA4C89; --tc:#A6144C;">
		<span style="">
			Dribbble
		</span>
		<span style="display: none;">6.9K</span>
	</button>
	<button class="color" style="--bgc:#FF0084; --tc:#FF66B5;">
		<span style="">
			Flickr
		</span>
		<span style="display: none;">8.3K</span>
	</button>
	<button class="color" style="--bgc:#F94877; --tc:#BA0636;">
		<span style="">
			FourSquare
		</span>
		<span style="display: none;">6.3K</span>
	</button>
	<button class="color" style="--bgc:#EE1D51; --tc:#F5809D;">
		<span style="">
			TikTok
		</span>
		<span style="display: none;">3.2K</span>
	</button>
	<button class="color" style="--bgc:#131418; --tc:#1B1C22;">
		<span style="">
			Behance
		</span>
		<span style="display: none;">25.1K</span>
	</button>
</div>
</body>
<script type="text/javascript">
	var colors = document.getElementsByClassName('color');
	let dict = {}
	let list = []
	for(let i=0; i < colors.length; i++) {
		let bg = (colors[i].style.getPropertyValue("--bgc"));
		let name = (colors[i].querySelector("span:first-child").innerText);
		dict[name.toLowerCase()] = bg
		list.push(name.toLowerCase())
		
	}

	document.write(JSON.stringify(dict));
	document.write(list );
</script>
 
</html>